.card {
    background-color: #ffffff;
    z-index: -1;
    border: 1px solid #ccc;
    border-radius: 5px;
    visibility: hidden;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 40vw;
    height: 44vh;
    font-size: 24px;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card>form>div{
    margin: 10px;
    padding: 10px;
}
.hidden {
    display: none;
}
#fixit{
    position: fixed;
    z-index: 3;
    background-color: white;
}
#co {
    width: 100vw;
    height: 15vh;
    /* border: 1px solid ; */
    /* z-index: 5; */
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#co img {
    width: 90px;
}

#cv span {
    margin: 20px;
}

.first {
    width: 70%;
    height: 13vh;
    margin: auto;
    display: flex;
    font-size: 20px;
    border-radius: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.f {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 25px;
}

#i {
    font-size: 24px;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    color: white;
    margin-left: 20px;
}
hr {
    opacity: 0.6;
    margin: 0;
}

h4,
a {
    margin: 0;
    text-decoration: none;
    color: black;
}



.secondIcon {
    display: flex;
    align-items: center;
}

.iconContainer {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    border-radius: 14px;
    margin-left: 20px;
}

.iconContainer i {
    font-size: 25px;
    margin-right: 10px;
    
}

.guest-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    z-index: 1;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    max-width: 40vw;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

#m_container {
    display: none;
    border: 1px solid;
}

.guest-counter button {
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}